#chat-screen .main-chat-status {
  z-index: 1;
}
.main-chat-header {
  z-index: 1;
}
#chat-screen {
  background-color: #abc1d1;
  height: 300vh;
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-chat-status {
  background-color: #abc1d1;
}
.main-chat-header {
  display: flex;
  justify-content: center;
  padding: var(--horizontal-space);
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 26px;
  background-color: #abc1d1;
  margin-top: 0px;
}
.chat__timestamp {
  font-size: 14px;
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  margin-top: -15px;
  margin-bottom: 25px;
}
.message-row {
  animation: fadeIn 0.3s linear forwards;
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}
.message__bubble {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  margin-right: 5px;
}
.message__detail {
  display: flex;
  align-items: flex-end;
}
.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.message__time {
  opacity: 0.8;
}
.message-row-own {
  justify-content: flex-end;
}
.message-row-own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row-own .message__detail {
  flex-direction: row-reverse;
}
.type-district {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.type-district input {
  height: 30px;
  width: 100%;
  padding: 0px 14px;
  border: var(--main-border);
  border-radius: 20px;
}
.type-district .text-box:first-child {
  width: 10%;
}
.type-district .text-box:last-child {
  width: 90%;
}
.text-box:last-child {
  position: relative;
  display: flex;
  align-items: center;
}
.fa-smile {
  position: absolute;
  right: 50px;
  bottom: 8.5px;
}
.text-box:last-child a {
  position: absolute;
  right: 20px;
  bottom: 7.413px;
}
.type-district i:not(.fa-plus) {
  opacity: 0.5;
}
