#friends-display-link {
  width: 80%;
  border-radius: 10px;
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px;
  margin-top: 90px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
.friends-screen__channel {
  margin-top: 10px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
  padding-bottom: 100px;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  z-index: 98;
  background-color: var(--yellow);
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
}
.alert-recovery span:nth-child(2) {
  font-size: 10px;
  margin-left: 5px;
  opacity: 0.5;
}
.alert-recovery span:last-child {
  font-size: 12px;
  opacity: 0.5;
}
.alert-recovery span:first-child {
  font-size: 15px;
  font-weight: 600;
}
.alert-recovery {
  font-family: sans-serif;
}
.profile-music {
  font-size: 14px;
  color: black;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid greenyellow;
}
