.alt-header {
  display: flex;
  justify-content: center;
  padding: var(--horizontal-space);
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 32px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
  position: relative;
}
.chatroom__search {
  position: absolute;
  right: 40px;
}
