#no-mobile {
  position: absolute;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: var(--yellow);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
